<% include ./partials/header %>

<div class="container">
  <ul class="list-group">
    <% polls.forEach(function(poll){ %>
      <a href="polls/<%= poll._id %>">
        <li class="list-group-item"><%= poll.title %></li>
      </a>
    <% }) %>
  </ul>
</div>

<% include ./partials/footer %>
