<% include ./partials/header %>

<div class="container">
  <h1>New Poll</h1>
  <form action="/polls" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
      <label for="options">Options (CSV)</label>
      <input type="text" class="form-control" id="options" placeholder="Option1, Option2, etc.." name="options">
    </div>
    <input type="submit" value="Submit">
  </form>
</div>

<% include ./partials/footer %>
