<% include ./partials/header %>

<div class="container">
  <h1><%= currentUser.username %>'s Polls</h1>

  <ul class="list-group">
    <% polls.forEach(function(poll){ %>
      <li class="list-group-item"><a href="/polls/<%= poll.id %>"><%= poll.title %></a></li>
    <% }) %>
  </ul>
</div>

<% include ./partials/footer %>
